.pageWrapper {
    width: 100%;
    padding:20px 26px;
   
}

.hostWrapper {
    width: 100%;
    margin: 0 auto;

}

@media (max-width:480px) {
    .pageWrapper {
        padding: 12px 12px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .pageWrapper {
        padding: 14px 16px;
    }
}

@media (min-width:769px) and (max-width:1200px) {
    .pageWrapper {
        padding: 16px 20px;
    }
}
